.h1,.h2,.h3,h1,h2,h3 {
	font-weight: 200;
}
a {
  color:#399f62;
}
a:hover {
  color:#399f62;
}
blockquote {
	border-left: 5px dotted #399f62;
	font-style: normal;
}
code {
	color: black;

}
p>code, a>code, li>code, figcaption>code, td>code {
    background-color: #e2f0ff;
    font-weight: bold;
}